@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: "Noto Serif JP";
    --secondary-font: "Noto Sans JP";
}

/* HEADER AND NAV STYLINGS */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 6rem;
    gap: 1rem;
}

nav {
    display: flex;
    gap: 3rem;
}

.restaurant-name {
    font-family: var(--primary-font), serif;
}

.nav-btn {
    font-family: var(--secondary-font);
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-btn:hover, .nav-btn:focus {
    text-decoration: underline;
    text-decoration-color: #FA8072;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.3rem;
}

/* CONTENT STYLINGS */

#content {
    padding: 3rem 6rem;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.hero-img {
    flex: 1;
    background-color: #C9C9C9;
    width: clamp(200px, 50%, 400px);
    height: auto;
    object-fit: cover;
} 

.right-section {
    flex-direction: column;
    flex: 1;
}

/* MENU STYLINGS */

.menu-section {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.menu-img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

/* FOOTER STYLINGS */

footer {
   position: fixed;
   bottom: 0; 
}