@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT */
  --primary-font: "Noto Serif JP";
  --secondary-font: "Noto Sans JP";

  /* SUSHI COLOR */
  --sushi-color: #fa8072;
  --dark-sushi-color: #e67366;

  /* TEXT COLOR */
  --white: #fff;
  --gray-tone: #333;

  /* BACKGROUND COLOR */
  --bg-color: #fdfbf8;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

/* HEADER AND NAV STYLINGS */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 6rem;
  gap: 1rem;
}

nav {
  display: flex;
  gap: 3rem;
}

.restaurant-name {
  font-family: var(--primary-font), serif;
}

.nav-btn {
  font-family: var(--secondary-font), sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
  text-decoration: underline;
  text-decoration-color: var(--sushi-color);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.3rem;
}

/* CONTENT STYLINGS */

#content {
  flex: 1;
  padding: 3rem 6rem;
  margin-bottom: 2rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* HERO SECTION STYLINGS */

.hero-section {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.hero-img {
  flex: 1;
  width: clamp(200px, 50%, 400px);
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

.right-section {
  flex: 1;
  flex-direction: column;
}

.hero-heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.hero-title {
  color: var(--sushi-color);
  font-family: var(--primary-font), serif;
  font-size: 3.5rem;
}

.hero-subtitle {
  color: var(--gray-tone);
  font-family: var(--secondary-font), sans-serif;
}

.hero-desc {
  width: 90%;
  font-family: var(--secondary-font), sans-serif;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.hero-btn {
  color: var(--white);
  font-family: var(--secondary-font), sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--sushi-color);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: var(--dark-sushi-color);
}

/* PHILOSOPHY SECTION STYLINGS */

.philosophy-header {
  font-family: "Noto Serif JP", serif;
  text-decoration: underline;
  text-decoration-color: var(--sushi-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.75rem;
  margin-bottom: 2rem;
}

.philo-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.philo-card {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #0f0f0f;
  border-radius: 1rem;
  padding: 1rem;
  gap: 0.5rem;
}

.philo-card .philo-title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.25rem;
}

.philo-card .philo-desc {
  font-family: "Noto Sans JP", serif;
  line-height: 1.6;
}

/* MENU STYLINGS */

.menu-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 5rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-img {
  width: 250px;
  height: 250px;
  border-radius: 1.5rem;
  object-fit: cover;
}

.menu-title {
  font-family: var(--primary-font), serif;
  text-decoration: underline;
  text-decoration-color: var(--sushi-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.75rem;
  text-align: center;
  margin-bottom: 2rem;
}

.menu-name {
  font-family: var(--primary-font, serif);
}

.menu-subname {
  color: var(--gray-tone);
  font-family: var(--secondary-font, sans-serif);
  font-size: 0.95rem;
}

.menu-desc,
.menu-price {
  font-family: var(--secondary-font), sans-serif;
}

.menu-desc {
  line-height: 1.6;
}

.menu-price {
  color: var(--sushi-color);
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

/* ABOUT STYLINGS */

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.left-container {
  width: 60%;
}

.about-title {
  font-family: var(--primary-font), serif;
  text-decoration: underline;
  text-decoration-color: var(--sushi-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.75rem;
  margin-bottom: 2rem;
}

.about-desc {
  width: 90%;
  font-family: var(--secondary-font), sans-serif;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  gap: 1rem;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

#about-image {
  height: 100%;
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 2rem;
  object-fit: cover;
}

/* FOOTER STYLINGS */

footer {
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 2rem 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contact-container > li {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
  color: var(--white);
  list-style-type: none;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.link-container .footer-link {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
  color: var(--white);
  background: none;
  border: none;
  cursor: pointer;
}

.link-container .footer-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--sushi-color);
  text-underline-offset: 0.3rem;
}

.author {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
  color: var(--white);
}
