@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT */
  --primary-font: "Noto Serif JP";
  --secondary-font: "Noto Sans JP";

  /* SUSHI COLOR */
  --sushi-color: #fa8072;

  --gray-tone: #333;

  /* BACKGROUND COLOR */
  --bg-color: #fdfbf8;
}

body {
  background-color: var(--bg-color);
}

/* HEADER AND NAV STYLINGS */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 6rem;
  gap: 1rem;
}

nav {
  display: flex;
  gap: 3rem;
}

.restaurant-name {
  font-family: var(--primary-font), serif;
}

.nav-btn {
  font-family: var(--secondary-font), sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
  text-decoration: underline;
  text-decoration-color: var(--sushi-color);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.3rem;
}

/* CONTENT STYLINGS */

#content {
  padding: 3rem 6rem;
}

/* HERO SECTION STYLINGS */

.hero-section {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.hero-img {
  flex: 1;
  width: clamp(200px, 50%, 400px);
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

.right-section {
  flex: 1;
  flex-direction: column;
}

.hero-heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.hero-title {
  font-family: var(--primary-font), serif;
  font-size: 2.5rem;
}

.hero-subtitle {
  font-family: var(--secondary-font), sans-serif;
}

.hero-desc {
  width: 90%;
  font-family: var(--secondary-font), sans-serif;
  margin-bottom: 2rem;
}

.hero-btn {
  color: #fff;
  font-family: var(--secondary-font), sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--sushi-color);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* MENU STYLINGS */

.menu-section {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  gap: 5rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-img {
  width: 250px;
  height: 250px;
  border-radius: 1.5rem;
  object-fit: cover;
}

.menu-title {
  font-family: var(--primary-font), serif;
  margin-bottom: 2rem;
}

.menu-name {
  font-family: var(--primary-font, serif);
}

.menu-subname {
  color: var(--gray-tone);
  font-family: var(--secondary-font, sans-serif);
  font-size: 0.95rem;
}

.menu-desc,
.menu-price {
  font-family: var(--secondary-font), sans-serif;
}

.menu-price {
  color: var(--sushi-color);
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

/* FOOTER STYLINGS */

footer {
  position: fixed;
  bottom: 0;
}
