* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER AND NAV STYLINGS */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 6rem;
    gap: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}

/* CONTENT STYLINGS */

#content {
    margin: 0 7.5rem;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.hero-img {
    flex: 1;
    background-color: #C9C9C9;
    width: clamp(200px, 50%, 400px);
    height: auto;
    object-fit: cover;
} 

.right-section {
    flex-direction: column;
    flex: 1;
}

/* MENU STYLINGS */

.menu-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* FOOTER STYLINGS */

footer {
   position: fixed;
   bottom: 0; 
}