@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT */
  --primary-font: "Noto Serif JP";
  --secondary-font: "Noto Sans JP";

  /* SUSHI COLOR */
  --sushi-color: #fa8072;
}

/* HEADER AND NAV STYLINGS */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 6rem;
  gap: 1rem;
}

nav {
  display: flex;
  gap: 3rem;
}

.restaurant-name {
  font-family: var(--primary-font), serif;
}

.nav-btn {
  font-family: var(--secondary-font);
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
  text-decoration: underline;
  text-decoration-color: var(--sushi-color);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.3rem;
}

/* CONTENT STYLINGS */

#content {
  padding: 3rem 6rem;
}

/* HERO SECTION STYLINGS */

.hero-section {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.hero-img {
  flex: 1;
  background-color: #c9c9c9;
  width: clamp(200px, 50%, 400px);
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

.right-section {
  flex-direction: column;
  flex: 1;
}

.hero-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-title {
  font-family: var(--primary-font), serif;
  font-size: 2.25rem;
}

.hero-subtitle {
  font-family: var(--secondary-font), sans-serif;
}

.hero-btn {
  color: #fff;
  font-family: var(--secondary-font), serif;
  font-size: 1rem;
  background-color: var(--sushi-color);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* MENU STYLINGS */

.menu-section {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.menu-img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

/* FOOTER STYLINGS */

footer {
  position: fixed;
  bottom: 0;
}
